@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
  padding-top: 50px;
  opacity: 0;
  font-family: 'Open Sans';
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans';
	font-weight: 600;
}

.hideme {
	opacity: 0;
}

::selection {
	background: #fedddd;
}
::-moz-selection {
	background: #fedddd;
}

.navbar {
  background-color: #8f0000;
 }

.navbar-brand:hover {
	color:#fff;
}

 .navbar a {
 	color: #fff;
 	font-size: 14px;
 	font-family: 'Open Sans', Georgia, 'Times New Roman', Times, serif;
 }

 .nav>li>a:hover {
 	color:#fff;
 	background-color:#be0000;
 	-webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
 }

.navbar-brand {
	padding: 9px 9px;
}

 a {
 	color:#8f0000;
 	-webkit-transition: all .3s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
 }

 a:hover {
 	color:#be0000;
 }

 .jumbotron {
 	background-image: url('/img/bg_jumbotron.png');
 	background-position: 0px -200px;
 	color:#fff;
 } 

.btn-primary {
	color: #fff;
	background-color: #8f0000;
	border-color: #8f0000;
}

.btn-primary:hover {
	background-color: #be0000;
	border-color: #8f0000;
}

img.grayscale {
	opacity: .5;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
	opacity:1;
    filter: none;
    -webkit-filter: grayscale(0%);
}

footer {
	border-top: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 25px;
}

.partenaires {
	width:60%;
}

.partenaires div {
	padding:5px;
}

.partenaires .img-responsive {
    margin: auto;
}