@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Open+Sans+Condensed:700);

body {
	opacity: 0;
	font-family: 'Open Sans';
}

h1,h2,h3,h4,h5 {
	font-family: 'Open Sans';
	font-weight: 600;
}

h4 {
	margin-top: 20px;
	font-size: 16pt;
}

h5 {
	font-size: 13pt;
}

.hideme {
	opacity: 0;
}

.hidden {
	display:none;
}

::selection {
	background: #87AFFF;
}
::-moz-selection {
	background: #87AFFF;
}



.news-post img {
	display:block;
	height:auto;
	max-width:100%;
}


.footer-logo {
	height: 87px;
	width: 69px;
}

 .jumbotron {
	background: transparent;

	color:#fff;
 }


.posts {
	overflow: hidden;
	white-space: nowrap;
}

.posts ul li {
	text-overflow: ellipsis;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.posts ul {
	list-style:none;
	padding-left:0;
}

.author{
	color:#777777;
	text-indent:10px;
}

.grayscale {
	opacity: .5;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
	filter: gray; /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
	-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
	-webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayscale:hover {
	opacity:1;
	filter: none;
	-webkit-filter: grayscale(0%);
}

footer {
	border-top: 1px solid #EEE;
	margin-top: 20px;
	padding-top: 25px;
	margin-bottom: 20px;
	font-size: 11px;
	color:#777;
}

.social a{
	text-indent: -9999px;
	display: inline-block;
	height: 38px;
	width: 38px;
}

.homepage-partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-partners a {
	margin-left: 15px;
	opacity: 0.7;
	transition: opacity 0.5s linear;
}

.homepage-partners a:hover {
	opacity: 1;
}

.homepage-partners img {
	height: 60px;
	max-width: 200px;
}

#partenaires {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

#partenaires .tier{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#partenaires .img {
	margin: 20px;
}

#partenaires .diamond img {
	max-height: 200px;
	max-width: 500px;
	margin-bottom: 30px;
}

#partenaires .diamond div {
	width: 500px;
	margin: 30px 20px 30px 20px;
}

#partenaires .diamond p {
	width: 500px;
}

#partenaires .diamond div {
	width: 375px;
	margin: 0 20px 0 20px;
}

#partenaires .diamond p {
	width: 500px;
}

#partenaires .platinium img {
	height: 150px;
	max-width: 375px;
	margin-bottom: 30px;
}

#partenaires .platinium div {
	width: 375px;
	margin: 30px 20px 30px 20px;
}

#partenaires .gold img {
	height: 150px;
	max-width: 375px;
}

#partenaires .silver img {
	max-width: 250px;
	height: 100px;
	margin: 0;
}

#partenaires p {
	text-align: justify;
	margin: 10px 0;
}

#partenaires .silver div {
	width: 250px;
	margin: 15px 20px 15px 20px;
}

#partenaires .bronze img {
	height: 100px;
	max-width: 200px;
}

a.facebook {
	background-image:url('../img/facebook.png');
	background-size: 36px 36px;
	background-repeat: no-repeat;
	background-position: center;
}

a.twitter {
	background-image:url('../img/twitter.png');
	background-size: 36px 36px;
	background-repeat: no-repeat;
	background-position: center;
}

a.youtube {
	background-image:url('../img/youtube.png');
	background-size: 36px 36px;
	background-repeat: no-repeat;
	background-position: center;
}

a.github {
	background-image:url('../img/github.png');
	background-size: 36px 36px;
	background-repeat: no-repeat;
	background-position: center;
}

a.aeets {
	background-image:url('../img/partenaires/aeets.png');
	background-size: 45px 45px;
	background-repeat: no-repeat;
	background-position: center;
	height:45px;
	width:45px;
	text-align: left;
}

a.etsmtl {
	background-image:url('../img/partenaires/ets2011.png');
	background-size: 45px 45px;
	background-repeat: no-repeat;
	background-position: center;
	height:45px;
	width:45px;
	text-align: left;
}

a.genetec {
	background-image:url('../img/partenaires/genetec-small.png');
	background-size: 155px 30px;
	background-repeat: no-repeat;
	background-position: center;
	height:40px;
	width:155px;
	text-align: left;
}

a.reseauets {
	background-image:url('../img/partenaires/reseau_ets2-small.png');
	background-size: 108px 30px;
	background-repeat: no-repeat;
	background-position: center;
	height: 40px;
	width: 108px;
	text-align: left;
}

a.iweb {
	background-image:url('../img/partenaires/iweb-small.png');
	background-size: 40px 30px;
	background-repeat: no-repeat;
	background-position: center;
	height: 30px;
	width: 40px;
	text-align: left;
}

a.gsoft {
    background-image:url('../img/partenaires/gsoft-small.png');
    background-size: 85px 30px;
    background-repeat: no-repeat;
    background-position:center;
    height: 30px;
    width: 85px;
    text-align: left;
}

a.desjardins {
    background-image:url('../img/partenaires/desjardins-small.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position:center;
    height: 30px;
    width: 30px;
    text-align: left;
}

/* Local Hack Day */
#local-hack-day {
  margin-bottom: 30px;
  color: white;
}

#local-hack-day .background {
  background-image: url(../img/local_hack_day_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 15px;
}

#local-hack-day h2 {
  text-indent: -999999px;
  background-image: url(../img/local_hack_day.png);
  display: block;
  width: 100%;
  height: 245px;
  max-width: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 30px 0;
}

#local-hack-day .btn-default {
  color: white;
  background-color: transparent;
}

#local-hack-day .height {
  margin: 30px 0;
}

.timeline {
    border-bottom: 5px solid #12356B;
}


.timeline > div {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 5px;
    margin-bottom: 1em;
    margin: 5px;

   -webkit-box-pack:justify;
      -ms-flex-pack:justify;
          justify-content:space-between;
}

.timeline .timeline-img {
    display: block;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 110px;
    background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding-top: 43%;
}

.timeline .title {
    font-weight: bold;
    padding: 1em;

}

.timeline .date {
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: normal;
}


.timeline-dot {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
	background-color: #E0E0E0;
	background-size: cover;
	background-position: center center;
	border-radius: 255px;
}

.a-propos-list li {
	margin-bottom: 5px;
}
.plan p {
    text-align: justify;
    line-height: 1.5em;
}

.plan h1 .title {
    display: inline-block;
    border-bottom: 4px solid black;
    margin-bottom: 0.5em;
    padding-bottom: 0.2em;
}

.plan h1 .subtitle {
    font-size: 0.75em;
}

.plan h2 {
    font-size: 3em;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 0.1em;
}

.plan .intro {
    padding-bottom: 40px;
}

.plan .about, .alternate-section-2 {
    background-color: #a80000;
    color: white;
    background-image: url(/img/news/cs_games_2019_dele.jpg);
    background-size: cover;
    background-position: center top;
	margin: 0 0 0.9em 0;
}

.alternate-section-2 p, .alternate-section-2 h2 {
	text-shadow: 0 1px 4px rgba(0,0,0,0.5);
}

.alternate-section-2 > .color-layer {
	background-color: rgba(168, 0, 0, 0.75);
	width: 100%;
	height: 100%;
	padding: 50px 0px;
}

.page-break { display: none }

@media print {
    .page-break	{ display: block; page-break-before: always; }

    body {
        -webkit-print-color-adjust: exact;
    }

    .plan .about {
        background-color: #a80000 !important;
        color: white !important;
    }

    .plan .about p, .plan .about h2 {
        color: white!important;
    }
}



.navbar-default {
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;
	-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;

}


.navbar-default.navbar-transparent {
	background-color: transparent;
}

.navbar-default {
	background-color: #12356B;
}
.navbar-default a {
	font-size: 110%;
}

a.navbar-brand img {
	width: 30px;
	margin-top: -10px;
}



.jumbotron h1 {
	font-family: "Open Sans Condensed";
	text-transform: uppercase;
}

.banner {
	padding-top: 90px;
}
body.padded {
	padding-top: 90px;
}

.alternate-section {
	background-color: #F2F2F2;
	padding: 2em;
	margin: 0.9em 0 0 0;
}
.blason-jumbo {
	width: 250px;
	height: auto;
	margin-right: 20px;
}

.last-news .btn {
	margin-left: 2em;
}

.red-text {
	color: #EE1C25;
}

@media (max-width: 991px) {
	.blason-jumbo {
		width: 200px;
	}
}

@media (max-width: 767px) {
  .blason-jumbo {
		width: 100px;
	}
}


ol.step-counter {
   list-style: none;
   counter-reset: item;
   padding: 0;
 }
 ol.step-counter > li {
   counter-increment: item;
   margin-bottom: 5px;
 }
 ol.step-counter > li:before {
   margin-right: 10px;
   content: counter(item);
   border: 1px solid #EC1A27;
   border-radius: 250px;
   color: #EC1A27;
   width: 2.2em;
   line-height: 2em;
   text-align: center;
   display: inline-block;
 }

 ol.step-counter > li > p {
 	margin-left: 3em;
 }
/* Super well prefixed flexbox */
.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flexbox.horizontal {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row
}

.flexbox.nowrap {
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap
}

.flexbox.align-center {
	-webkit-box-align: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
}

.flexbox.vertical {
	-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
}

.two-columns-md {
	-moz-column-count: 2;
-moz-column-gap: 5px;
-webkit-column-count: 2;
-webkit-column-gap: 5px;
column-count: 2;
column-gap: 5px;
}

.no-break-inside {
	-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
          page-break-inside: avoid; /* Firefox */
               break-inside: avoid; /* IE 10+ */
}
@media (max-width: 767px) {
  .flexbox.flex-md {
		display: block;
	}

	.two-columns-md {
	-moz-column-count: 1;
-moz-column-gap: 5px;
-webkit-column-count: 1;
-webkit-column-gap: 5px;
column-count: 1;
column-gap: 5px;
	}



.navbar-collapse.collapse.in, .navbar-collapse.collapsing {
	background-color: #12356B;

}
}

.dl-horizontal dt {
	white-space: normal;
}