---
layout: default
---
<!-- Jumbotron -->
<div class='jumbotron banner'>
  <div class='container flexbox horizontal nowrap align-center'>
    <img src="/img/blason_dci.png" class="pull-left blason-jumbo hidden-xs">
    <div>
      <h1 class="hidden-xs">Délégation des compétitions en informatique de l'ÉTS</h1>
      <p class="last-news"><i class="fa fa-quote-left red-text" aria-hidden="true"></i>
        {% for post in site.categories.news limit:1 %}
        {{ post.title }} <a class="btn btn-primary btn-sm" href="{{ post.url }}">Plus d'informations</a>
        {% endfor %}</p>
    </div>
  </div>
</div>

<div class='container'>
  <p class="lead text-center">La Délégation des compétitions en informatique de l'ÉTS (DCI) forme des équipes
    talentueuses de l'École de technologie supérieure pour participer à des compétitions et des évènements reliés à
    l'informatique.</p>
  <p class="text-right"><a href="/a-propos-dci">À propos »</a></p>
</div>
<div class="alternate-section">
  <div class="container">
    <p>Merci &agrave; nos partenaires <i class="fa fa-heart red-text" aria-hidden="true"></i></p>
    <p class='homepage-partners'>
      <a target="_blank" href='https://etsmtl.ca/'><img src='/img/partenaires/ets.svg' alt='ÉTS'></a>
      <a target="_blank" href='https://aeets.com/'><img src='/img/partenaires/aeets.svg' alt='AÉÉTS'></a>
      <a target="_blank" href="https://www.isaacinstruments.com/"><img src='/img/partenaires/isaac.png' alt='isaac'></a>
      <a target="_blank" href="https://www.i-tracing.com/"><img src='/img/partenaires/i-tracing.png' alt='i-tracing'></a>
      <a target="_blank" href="https://www.desjardins.com/"><img src='/img/partenaires/desjardins.svg' alt='desjardins'></a>
      <a target="_blank" href="https://www.goto.com/fr"><img src='/img/partenaires/goto.svg' alt='goto'></a>
    </p>
    <p class='text-right'><a href="/partenaires">Nos partenaires »</a></p>
  </div>
</div>
<div class="alternate-section-2">
  <div class="color-layer">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-sm-4">
          <h2><i class="fa fa-shield" aria-hidden="true"></i> Sécurité</h2>
          <p class="lead">
            DCIÉTS est l'une des meilleures équipes de sécurité informatique au Canada.
          </p>
        </div>
        <div class="col-sm-4">
          <h2><i class="fa fa-trophy" aria-hidden="true"></i>
            Compétitions</h2>
          <p class="lead">
            Mettez vos capacités au défi en participant à des compétitions telles que les Computer Science Games et le
            Northsec.
          </p>
        </div>
        <div class="col-sm-4">
          <h2><i class="fa fa-users" aria-hidden="true"></i>
            Communauté</h2>
          <p class="lead">
            Rencontrer et apprendre avec des personnes motivées et impliquées dans l'industrie.

          </p>
        </div>
      </div>
      <br>
      <div class="row">

        <div class="col-md-4 col-md-offset-4 text-center">
          <a class="btn btn-default btn-block" href="/rejoindre">Rejoindre la DCI</a>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class='row'>
    <div class="col-sm-12">
      <h2>Résultats</h2>
      <div class="timeline flexbox horizontal nowrap flex-md">

        {% for event in site.data.timeline limit: 5 %}
        <div class="flexbox vertical">

          <div class="title">
            <div class="date">{{ event.date }}</div>
            {% if event.link %}
            <a href="{{ event.link }}">
              {% endif %}

              {{ event.title }}
              {% if event.link %}
            </a>
            {% endif %}
          </div>
          {% if event.image %}
          <div class="timeline-img" style="background-image: url({{ event.image }})"></div>
          {% endif %}

        </div>
        {% endfor %}

      </div>
      <p class="text-right"><a href="/a-propos-dci">Plus »</a></p>
    </div>

  </div>


</div>

<div class="container">

  <div class="row">
    <div class="col-md-6 posts">
      <h2>Nouvelles</h2>
      <ul>
        {% for post in site.categories.news limit:10 %}
        <li>
          <span>{{ post.date | date_to_string }}</span>
          &raquo;
          <a href='{{ post.url }}'>{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
      <a href='/archives'>Archives</a>
    </div>
    <div class="col-md-6">
      <h2>Twitter <a href="http://twitter.com/dciets/"><small>@dciets</small></a></h2>
      <a class="twitter-timeline" href="https://twitter.com/dciets" data-widget-id="375135268799393793" lang="fr"
        data-chrome="noheader nofooter noborders transparent" data-tweet-limit="1">Tweets by @dciets</a>
      <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
      <div>
        <div class="fb-like" data-href="http://www.facebook.com/dciets" data-width="280" data-layout="standard"
          data-action="like" data-show-faces="true" data-share="false"></div>
      </div>
    </div>
  </div>


</div>