    <div class='container'>
      <footer>
        <div class='row'>
          <div class='col-md-4 social'>
            <p>&copy; {{ site.time | date: '%Y' }} D&eacute;l&eacute;gation des comp&eacute;titions en informatique de l'&Eacute;TS</p>
            <a href="http://facebook.com/dciets/" class='facebook grayscale'>Facebook</a>
            <a href="http://twitter.com/dciets/" class='twitter grayscale'>Twitter</a>
            <a href="http://youtube.com/dciets/" class='youtube grayscale'>Youtube</a>
            <a href="http://github.com/dciets/" class='github grayscale'>Github</a>
            <a href="https://plus.google.com/105255431140384875567/posts" class='googleplus grayscale'>Google+</a>
          </div>
          <div class='col-md-4 text-center'>
            <a href='mailto:dci@aeets.com'>
              <img class='grayscale footer-logo' src='/img/blason_dci.png'>
            </a>
          </div>
          <div class='col-md-4 partners text-right'>
            <p class='text-right'>Merci &agrave; nos partenaires &hearts;</p>
            <a href="http://etsmtl.ca" class='etsmtl grayscale'>&Eacute;TS</a>
            <a href="http://aeets.com" class='aeets grayscale'>A&Eacute;&Eacute;TS</a>
            <a href="http://iweb.com" class='iweb grayscale'>iWeb</a>
            <a href="http://gsoft.com" class='gsoft grayscale'>GSoft</a>
            <a href="http://desjardins.com" class='desjardins grayscale'>Desjardins</a>
          </div>
        </div>
      </footer>
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=579065128822651";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43836069-1', 'dciets.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
