---
layout: default
title: "Sécurité"
---

<div class="container">
  <h1>Ressources</h1>
  
  <div class="row">
    <div class="col-md-8 col-md-push-4">
      <div>
        <h2>Programmation 101</h2>

        <ul>
          {% for link in site.data.ressources.programming %}
            <li>
              {% if link.link %}
                <a href="{{link.link}}" target="_blank">
              {% endif %}

              {{ link.name }}

              {% if link.link %}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <!-- <div>
        <h2>Sécurité</h2>
      </div> -->

      <div>
        <h2>CTF</h2>

        <ul>
          {% for link in site.data.ressources.ctf %}
            <li>
              {% if link.link %}
                <a href="{{link.link}}" target="_blank">
              {% endif %}

              {{ link.name }}

              {% if link.link %}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <h2>Ressources supplémentaires</h2>
      
      <dl class="dl-horizontal">
        {% for link in site.data.ressources.resources %}
          <dt>
            {% if link.link %}
              <a href="{{link.link}}" target="_blank">
            {% endif %}

            {{ link.name }}

            {% if link.link %}
              </a>
            {% endif %}
          </dt>

          <dd>
            {{ link.description }}
          </dd>
        {% endfor %}
      </dl>

      <h2>Outils</h2>

      <div class="two-columns-md">
        {% assign grouped_tools = site.data.ressources.tools | group_by: "category" %}

        {% for group in grouped_tools %}
          <div class="no-break-inside">
            <strong>{{ group.name }}</strong>

            <ul>
              {% for tool in group.items %}
                <li>
                  {% if tool.link %}
                    <a href="{{tool.link}}" target="_blank">
                  {% endif %}

                  {{ tool.name }}

                  {% if tool.link %}
                    </a>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-4 col-md-pull-8">
      <div class="posts">
        <h2>Archives</h2>

        <ul>
          {% for post in site.categories.ressources %}
            <li>
              <span>
                {{ post.date | date_to_string }}
              </span>

              &raquo;

              <a href="{{ post.url }}">
                {{ post.title }}
              </a>
            </li> 
          {% endfor %}
        </ul>

        <h2>Workshops</h2>

        <p>
          <a href="/dci-workshop">DCI Workshop</a>
          
          portant sur la sécurité.
        </p>

        <ul>
          {% for post in site.categories.dci-workshop limit:5 %}
            {% if post.categories contains "security" %}
              <li>
                <span>{{ post.date | date_to_string }}</span>

                &raquo;

                <a href='{{ post.url }}'>{{ post.title }}</a>
              </li> 
            {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="well well-sm">
        <small>
          Contribuez en soumettant une pull request sur Github:

          <a href="https://github.com/dciets/dciets.github.io/tree/master/_data/ressources">Ressources &amp; outils</a>

          et

          <a href="https://github.com/dciets/dciets.github.io/tree/master/ressources/_posts">Writeups</a>

          .
        </small>
      </div>
    </div>
  </div>
</div>
